.profile-container {
    padding-top: 20px;
}

.profile-section {
    position: relative;
}

.profile-card {
    margin-bottom: 20px;
}

.profile-card .card-header {
    background-color: #007bff;
    color: #fff;
}

.profile-card .card-body {
    background-color: #f8f9fa;
}

.profile-card .list-group-item {
    background-color: #f8f9fa;
    border: none;
}

.profile-card .btn {
    background-color: #007bff;
    border: none;
}

.profile-card .btn:hover {
    background-color: #0056b3;
}



@media (min-width: 1000px) {
    .profile-section {
        position: fixed;
        top: 5rem;
        left: 20px;
        width: 25%;
    }

    .blog-section-profile {
        margin-left: 30%;
    }
}

@media (max-width: 999px) {
    .profile-section {
        position: static;
        margin-bottom: 20px;
        width: 100%;
    }

    .blog-section-profile {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .blog-section-profile {
        width: 100%;
        margin: 0;
    }

    .blog-grid {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 320px) {
    h3 {
        text-align: center;
    }

    .profile-container {
        padding-left: 1.5%;
    }

    .blog-section-profile {
        padding-left: 0;
        padding-right: 5px;
    }
}