.search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 25rem;
    background-color: grey;
    z-index: 1;
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    max-height: 300px;
    overflow-y: auto;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    font-size: large;
    margin-bottom: 3px;
}

.search-result-item:hover {
    background-color: lightgreen;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-results-dropdown::-webkit-scrollbar {
    width: 10px;
}

.search-results-dropdown::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
}

.search-results-dropdown::-webkit-scrollbar-track {
    background-color: #333;
}



.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 500px) {
    .search-results-dropdown {
        max-height: 200px;
    }

    .blog-section {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .carousel {
        margin-left: 2rem;
    }
}


@media (min-width: 500px) {
    .blog-section {
        margin-left: 3rem;
        margin-right: 2rem;
    }

    .carousel {
        margin-left: 3rem;
    }
}